:root {
	--bg-color: #101010;
	--txt-color: #F0F0F0;
}

* {
	overscroll-behavior: none;
}

html, body {
	margin: 0px;
	min-width: 400px;
	height: 100%;
	background-color: var(--bg-color);
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: var(--txt-color);
}

#grid {
	float: inline-start;
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
	width: 50%;
	height: 100%;
	padding: 10px;
	user-select: none;
	-webkit-user-select: none;
}

table {
	width: 100%;
	max-width: calc(100vh - 20px);
	border-collapse: collapse;
}

th {
	background-color: color-mix(in srgb, var(--txt-color), transparent);
	cursor: default;
}

td, th {
	border: 2px solid var(--txt-color);
	padding: 0px;
	font-size: clamp(10px, 2.5vw, 5vh);
}

td::before, th::before {
	content: "";
	float: left;
	padding-top: 100%;
}

td>div, th>div {
	padding-top: 100%;
	background-color: var(--tier-color);
	line-height: 0px;
}

#bar {
	float: inline-end;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

#tabs {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-bottom: 2px solid var(--txt-color);
}

#tabs>button {
	margin: 0px;
	border-bottom: none;
}

#tabs>button.on {
	margin-bottom: -2px;
	padding-bottom: 7px;
}

#main {
	margin-bottom: 5px;
	flex: 1 1 auto;
	border-left: 2px solid var(--txt-color);
	border-bottom: 2px solid var(--txt-color);
	padding: 5px;
	overflow: auto;
}

#main::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: color-mix(in srgb, var(--txt-color), transparent 75%);
}

#main::-webkit-scrollbar-thumb {
	background-color: color-mix(in srgb, var(--txt-color), transparent 25%);
}

#skillTree {
	position: relative;
}

#centerSkillDisplay {
	left: calc(50% - 10em);
	top: calc(50% - 10em);
	display: flex;
	flex-direction: column;
	width: 20em;
	height: 20em;
}

.skill {
	margin: 0px !important;
	position: absolute;
	box-sizing: border-box;
	width: 10em;
	height: 10em;
	border: 2px solid var(--txt-color);
	padding: 5px;
	font-size: inherit;
}

hr {
	margin: 5px 0px;
	border: 1px solid var(--txt-color);
}

input, button {
	font-size: medium;
	font-family: 'Courier New', Courier, monospace;
}

button:not(.on) {
	cursor: pointer;
}

button:not(:first-of-type) {
	margin-left: 5px;
};

dialog {
	max-width: calc(100% - 24px);
	max-height: calc(100% - 24px);
}

dialog>div {
	min-width: 376px;
}

.box {
	overflow: auto;
}

.box, dialog, input, button {
	background-color: var(--bg-color);
	border: 2px solid var(--txt-color);
	padding: 5px;
	color: var(--txt-color);
}

.box, input, button {
	margin-top: 5px;
}
